main {
    padding-top: 120px;
    padding-bottom: 60px;
    background-color: #262931;
}

.links_div {
    background-color: linear-gradient(-45deg, rgba(63, 151, 192, 0.5), #000);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 150px 150px 150px;
    margin-left: 200px;
    gap: 30px 60px;
    justify-content: center;
    align-items: center;
    color: mediumturquoise;
}

.img {
    margin-top: 50px;
    display: block;
    width: 80%;
}

.link {
    text-decoration: none;
    color: red;
    font-family: Madeleina;
    font-size: 1.4em;
}

p {
    font-family: Madeleina;
    font-size: 1.4em;
    margin: 0;
}