
.square {
    display: block;
    background-color: black;
    height: 31rem;
    width: 67rem;
    position: relative;
    margin-top: 4rem;
    margin-left: 11rem;
    margin-bottom: 20px;
    position: sticky;
    
}

#map {
    height: 32rem;
    width: 73rem;
}